<!doctype html>
<html>
  <head>
    <title>Création de personnage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="livre">
    <main class="creation">
      <h1>Inscription</h1>

      <!-- Formulaire d'inscription -->
      <form method="post">
        <legend>titre :</legend>
        <label>titre</label><input type="text" name="titre">

        <legend>personnage principal :</legend>
        <label>nom</label><input type="text" name="nom">

        <legend>nombre de chapitres:</legend>
        <label>chapitres</label><input type="text" name="nb">

        <legend>thème :</legend>
        <label>theme</label><input type="text" name="theme">

        <legend>époque :</legend>
        <label>époque</label><input type="text" name="temps">

        <input type="submit" value="Valider" class="valider_formulaire">
      </form>

      <!-- Message d'inscription -->
      {% if message %}
        <p style="margin-top: 20px;">{{ message }}</p>
      {% endif %}

      <!-- Lien pour passer à l'accueil -->
      <div style="margin-top: 20px;" class="bouttons">
        <a href="{{ url_for('accueil') }}"><button type="button">Revenir à l'accueil</button></a>
      </div>
    </main>
  </body> 
</html>